BasedOnStyle: "Google"
BreakBeforeBraces: Custom
Cpp11BracedListStyle: "false"
SpaceBeforeCpp11BracedList: "true"
ReflowComments: "false"
AlignArrayOfStructures: "Left"
BraceWrapping:
  AfterCaseLabel: "true"
  AfterClass: "true"
  AfterControlStatement: "true"
  AfterEnum: "true"
  AfterFunction: "true"
  AfterNamespace: "true"
  AfterObjCDeclaration: "false"
  AfterStruct: "true"
  AfterUnion: "true"
  AfterExternBlock: "true"
  BeforeCatch: "true"
  BeforeElse: "true"
  IndentBraces: "false"
  SplitEmptyFunction: "true"
  SplitEmptyRecord: "true"
  SplitEmptyNamespace: "true"
